# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.suo
*.user

# Visual Studio Code
.vscode/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Dados dos programas
*.txt
*.json
!README.md
